---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Senior trilingual executive with more than 10 years of experience, both in
    Chile and abroad, specialized in leading software development and
    implementation of corporate IT systems. Leader, committed to the development
    of people, curious and versatile in different industries, such as
    transportation, retail and telecommunications. He stands out for his ability
    to solve problems and conflicts, and open possibilities in stagnant
    environments, in addition to having excellent communication and negotiation
    skills.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master of science in Engineering"
      subtitle="1989 to 1992 at Kungliga Tekniska Högskolan, Stockholm, Sweden"
    />
    <TimeLineElement
      title="Civil engineering in Mechanics"
      subtitle="1987 to 1992 at Kungliga Tekniska Högskolan, Stockholm, Sweden"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Senior Technical Program Manager at Falabella Tecnología Corporativa"
      subtitle="From May 2021 to January 2023 at Falabella Tecnología Corporativa, Santiago de Chile, Chile"
    >
      Responsible for planning, executing, and controlling projects to implement
      a CIAM system, Customer Identity and Access Management, which manages and
      centralizes digital identities. Reporting directly to the VP of Customer
      Care and leading a team of 40 people. I achieved closure of the CIAM
      system implementation project and its deployment to key stakeholders, such
      as falabella.com, payment wallet, and customer loyalty, which allowed
      reducing the project spend by 40%, closing it on time and reducing the
      scope of the project. I restructured the area, retaining the best talent
      using coaching, promotion and change of roles, to have the necessary
      structure for the realization of the CIAM project. Substantially improved
      the relationship with the main supplier of the CIAM project, which allowed
      to advance and improve the work environment, resulting in a 2-year
      contract extension.
    </TimeLineElement>
    <TimeLineElement
      title="Senior Technical Program Manager at Amazon Devices"
      subtitle="From September 2019 to February 2021 at Amazon Devices, Seattle, USA"
    >
      Responsible for leading large, complex projects that require a solid
      understanding of the underlying technology, working closely with
      engineering and development teams to ensure project success and delivery
      on time, on budget and on quality. Reporting to the Senior Manager of the
      Amazon Kids organization, which provides Alexa apps for kids. Managed and
      coordinated 10+ teams in NLU (Natural Language Understanding) and ML
      (Machine Learning) development, research and software development, and
      voice driven UX, achieving the launch of an Alexa application that helps
      children to read aloud books in English, leveraging the content of the
      Alexa Kids+ plan. I led the process of enabling 20 web services for a
      Christmas traffic peak, achieving 100% availability to users at a
      compromised time window. I led the work of COPPA, GDPR and CCPA regulatory
      compliance in the organization, which allowed the approval of the audit
      team in the protection of personal data and consent management.
    </TimeLineElement>
    <TimeLineElement
      title="IT Systems and Processes Manager at Latam Airlines Group"
      subtitle="From April 2018 to Juñy 2019 at Latam Airlines Group S.A. Santiago de Chile, Chile"
    >
      Responsible for the management of systems and business processes to
      achieve PCI-DSS certification, to ensure the correct processing of
      customer credit and debit card data. Reporting directly to the MOSS
      Director and leading a team of 20 engineers. I achieved PCI-DSS
      certification of the entire company in 1 year and a half, which is record
      time compared to the industry standard of 4 years for companies of similar
      size, certifying more than 80 impacted business processes, and achieving
      the confidentiality and safeguarding of sensitive credit and debit card
      data. I led the pioneering definition of the web application security
      standard for Google Cloud Platform, which later became the corporate
      security standard for the company's solutions, thus protecting sensitive
      customer card data in future solutions.
    </TimeLineElement>
    <TimeLineElement
      title="Engagement Manager at Aaxis Commerce"
      subtitle="From March 2017 to March 2018 at Aaxis Commerce, Santiago de Chile, Chile"
    >
      Managed and supervised projects and relationships with the company's
      clients, Ericsson/Entel and Falabella. Reporting directly to the COO in
      the USA, with a team of almost 100 co-workers. I managed the delivery of
      Entel TDE's new eCommerce site, made with Oracle ATG technology, achieving
      on-time delivery and quality. Improved the tense relationship with
      Ericsson, negotiating and managing commercial relationship with Ericsson's
      Program Director and Delivery Managers, managing to generate additional
      business for 2.5 million USD. I coordinated the necessary resources in
      Santiago de Chile and Chengdu (China), achieving 100% compliance with
      Falabella contracts.
    </TimeLineElement>
    <TimeLineElement
      title="Agile Coach and Senior Project Manager at Tata Consultancy Services"
      subtitle="From December 2012 to March 2017 at Tata Consultancy Services, Santiago de Chile, Chile"
    >
    As Agile Coach, I was responsible for guiding and supporting teams in the implementation of agile methodologies.
    I coached more than 40 employees in agile methodologies and Test-Driven-Design, achieving the adoption of agile practices and methodologies.
    I obtained a "Best Project Manager" award. 
    
    As a Senior Project Manager, I was responsible for leading and managing critical and strategic projects for customer compensation, middleware creation with freight event messaging, and Enterprise Data Warehouse design for business data intelligence. Reporting directly to the senior account manager in transportation and logistics, with teams of up to 20 software engineers.
    Led 3 successful implementations of software systems integration projects for Latam Airlines, achieving 0 critical errors in production.
    Improved on average 25% customer satisfaction index in the projects I led.
    Increased sales by 2 to 3 times the original costs of the projects.
        </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Machine Learning with Python - From Linear Models to Deep Learning, MITx (Dic 2023) *ongoing</a>
    </li>
    <li>
      <a href="https://certificates.mooc.fi/validate/suzryqfc11" target="_blank"> Elements of AI: Building AI, from University of Helsinki, July 2023 (with link)</a>
    </li>
    <li>
      <a href="https://certificates.mooc.fi/validate/jfos984jldc" target="_blank"> Elements of AI: Introduction to AI, from University of Helsinki, June 2023 (with link)</a>
    </li>
    <li>
      <a href="https://studies.cs.helsinki.fi/stats/api/certificate/fullstackopen/en/a65841e4884909a0142e70cccb1660ef" target="_blank"> Fullstack Javascript Open, from Universtity of Helsinki, June 2023 (with link)</a>
    </li>
    <li>
      <a href="https://www.scrum.org/user/218875" target="_blank"> Professional Scrum Master I, from scrum.org, January 2017 (with link)</a>
    </li>
    <li>
      <a href="https://www.coursera.org/account/accomplishments/verify/45BMG59G3Y6D" target="_blank"> Functional Programming Principles in Scala, from Coursera, September 2016 (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>IT Project & Program Management</li>
    <li>High Performance Teams</li>
    <li>Decision Making</li>
    <li>Budget Management</li>
    <li>IT Strategy</li>
    <li>Agile Methodologies</li>
    <li>Digital Transformation</li>
    <li>Negotiation</li>
    <li>GDPR</li>
    <li>CIAM</li>
    <li>PCI-DSS</li>
    <li>COPPA</li>
    <li>Javascript</li>
    <li>Oracle SOA Suite</li>
    <li>Cloud Computing</li>
    <li>English</li>
    <li>Spanish</li>
    <li>Swedish</li>
    <li>Rumanian</li>
    <li>Italian</li>
  </ul>
</BaseLayout>
