---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import Greeting from '../components/Greeting';

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">
      <Greeting client:load messages={['Hej', 'BunÄ', 'Hola', 'Hi', 'Ciao']} />
    </div>
    <div class="text-5xl font-bold">I'm Patricio Sobrado</div>
    <div class="text-3xl py-3 font-bold">Software Engineer, Manager and Musician</div>
    <div class="py-2">
      <text class="text-lg">
        I am thrive when I'm part of change processes in complex environments and my heart beats stronger when I am able to motivate people to achieving goals they never thought possible.
        Through the years, I have developed two professional careers simultaneously. At one hand, technical development within the IT field (programming, leading software development teams), and on the other hand, music creation, artist management and artist development.
        When I am not working, I am willing to walk miles just to get a good piece of meal, and a tasty glass of wine, and at home I love to cook.
        The one achievement I'm most proud of today is, my family.
        Second to that is, being the founder and former leader of <a href="https://www.callerea.se" target="_blank">Calle Real from Sweden (with link).</a>
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://twitter.com/patriciosobrado" target="_blank"> Let's connect!</a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects {"</>"}</div>
  </div>

  <HorizontalCard
    title="Timer"
    img="/react_logo192.png"
    desc="Simple half stack React tool to measure elapsed time on a project."
    url="https://timer-8lb.pages.dev/"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Speech Emotion Recognition"
    img="/emotion_feature.png"
    desc="A nimble speech emotion recognition classifier, that can recognize 6 emotions (angry, fear, disgust, happy, sad, surprise), apart from neutral."
    url="https://huggingface.co/spaces/thesob/ser-nimble"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Blog list"
    img="/blog_logo.png"
    desc="A user authenticated blog list app to maintain and like blogs."
    url="#"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
