---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title="Services" sideBarActiveItemID="services">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Services I provide</div>
  </div>

  <HorizontalCard
    title="Software Engineer"
    img="/images/programmer-freelancer-job-software-engineer-it.webp"
    desc="I value simple content structure and coding things to bring ideas to life."
    badge="NEW"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Technical Program Manager"
    img="/images/technical_program_manager.webp"
    desc="Project management, product development life-cycle, product development processes and individual stages, programming, strong communications skills, agile methodologies"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Musician"
    img="/images/calle_real.webp"
    desc="As a founder, music composer, and artist manager I had the privilege to be part of Calle Real's international success, becoming hands down, the most explosive salsa and timba band to ever come from Europe. (according to DJ Melao (Miami)."
    url="https://www.callereal.se"
  />
  <div class="divider my-0"></div>
</BaseLayout>
