---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Patricio Sobrado
  </div>
  <div class="inline opacity-75">
    <a href="https://manuelernestog.github.io" target="_blank" class="font-bold">powered by⚡️</a>
  </div>
</footer>
<style>

</style>
